<div class="container my-4">
  <div style="height:50px;min-height:25px" class="row border" >
    <app-search-bar></app-search-bar>
  </div>
  <div style="height:400px;min-height:300px"  class="row">
    <div class="col-md-6 border">
      <app-display-data></app-display-data>
    </div>
    <div class="col-md-6 border"><app-save-list></app-save-list></div>
  </div>
  <div style="height:200px;min-height:150px" class="row border">
    <app-profile></app-profile>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
